node_modules/*
!node_modules/esprima
dist
.DS_Store
*~
doc/jsref
*.cmi
*.cmo
*.byte
*.native
*.cmx
*.cmxs
gh-pages
/.merlin
*.log
autom4te.cache
configure
Makefile
config.status
jsref/Makefile
jsref/autom4te.cache
jsref/config.log
jsref/config.status
*.tar.gz
*.md5sum.txt
jsref/*.url.js
