[submodule "test/test262"]
	path = test/data/test262
	url = https://github.com/tc39/test262.git
	branch = es5-tests
[submodule "tools/runtests"]
	path = tools/runtests
	url = https://github.com/edgemaster/runtests.git
